<!doctype html>
<html ng-app="myapp">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>Ng-Training Start</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	</head>
	<body ng-controller="MainController">
		<div class="container">
			<a href="index9.html">< Précédent</a>
			<a href="index11.html">Suivant ></a>
		</div>
		<div class="container" ng-cloak>
			<h2>Exemple 10</h2>
			<form class="form-horizontal" ng-submit="addPerson(newFriend)" novalidate>
				<div class="form-group">
					<label class="control-label col-md-3" for="new-friend">Mon nouvel ami :</label>
					<div class="col-md-7">
						<input class="form-control" id="new-friend" type="text" ng-model="newFriend">
					</div>
					<div class="col-md-1">
						<button class="btn btn-primary" type="submit" >
							<span class="glyphicon glyphicon-plus"></span> Ajouter
						</button>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-md-3" for="friend-filter">Filtrer :</label>
					<div class="col-md-7">
						<input class="form-control" id="friend-filter" type="search" ng-model="friendFilter">
					</div>
				</div>
			</form>
			<p>Mes amis sont :</p>
			<ul>
				<li ng-repeat="person in people | orderBy:'firstname' | filter:friendFilter">{{person.firstname}} 
					<button class="btn btn-xs btn-danger" type="button" ng-click="removePerson(person)" aria-label="Supprimer" title="Supprimer">
						<span class="glyphicon glyphicon-remove"></span>
					</button>
				</li>
			</ul>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<script src="angular.min.js"></script>
		<script src="app10.js"></script>
	</body>
</html>