<!doctype html>
<html ng-app="myapp">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>Ng-Training Start</title>
	</head>
	<body ng-controller="MainController">
		<div class="container">
			<a href="index6.html">< Précédent</a>
			<a href="index8.html">Suivant ></a>
		</div>
		<h2>Exemple 7</h2>
		<div class="container" ng-cloak>
			<form ng-submit="addPerson(newFriend)" novalidate>
				<label for="new-friend">Mon nouvel ami :</label>
				<input id="new-friend" type="text" ng-model="newFriend">
				<button type="submit">Ajouter !</button>
			</form>
			<p>Mes amis sont :</p>
			<ul>
				<li ng-repeat="person in people | orderBy: 'firstname'">{{person.firstname | uppercase}} 
					<button type="button" ng-click="removePerson($index)">Supprimer</button>
				</li>
			</ul>
		</div>
		<script src="angular.min.js"></script>
		<script src="app6.js"></script>
	</body>
</html>